{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervační systém</title>
    <!-- Odkaz na CSS soubor -->
    <link rel="stylesheet" type="text/css" href="{% static 'depo/base.css' %}">
</head>
<body>
    <h1>Rezervační systém</h1>

<p><a href="{% url 'depo:bus_list' %}">Seznam autobusů</a></p>
<p><a href="{% url 'depo:driver_list' %}">Seznam řidičů</a></p>
<p><a href="{% url 'depo:reservation_list' %}">Seznam rezervací</a></p>
<p><a href="{% url 'depo:add_reservation' %}">Přidat rezervaci</a></p>
<p><a href="{% url 'depo:login' %}">Přihlášení</a></p>
<p><a href="{% url 'depo:logout' %}">Odhlášení</a></p>    
</body>
</html>
