
{% block content %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Zásady ochrany osobních údajů</title>
</head>
<body>
    <h2 style="margin-left: 60px;">Zásady ochrany osobních údajů</h2>
    <div>
        <ol>
        <ul>1. Úvod
        <li>Vaše soukromí je pro nás důležité a zavazujeme se chránit vaše osobní údaje. Tento dokument popisuje, jak shromažďujeme, používáme a chráníme vaše data.</li>
    </ul></ol>
        
        <ol>
        <ul>2. Shromažďování údajů
           
        <li>Můžeme shromažďovat následující typy informací:</li>
        <li>Kontaktní údaje (např. jméno, email)</li>
        <li>Aktivitu uživatele (např. navštívené stránky, kliknutí)</li>
        <li>Technické údaje (např. IP adresa, typ prohlížeče)</li>
    </ul></ol>
        <ol>
        <ul>3. Použití údajů
        <li>Vaše údaje používáme k:</li>
        <li>Poskytování a zlepšování našich služeb</li>
        <li>Personalizaci uživatelského prostředí</li>
        <li>Zajištění bezpečnosti naší platformy</li>
    </ul></ol>
        <ol>
        <ul>4. Ochrana údajů
        <li>Provádíme odpovídající bezpečnostní opatření k ochraně proti neoprávněnému přístupu,
         změně, zveřejnění nebo zničení osobních údajů.</li></ul></ol>
    </div>


    <h2 style="margin-left: 60px;">Shromažďování údajů</h2>
    <ol><ul>
        <li>Kontaktní údaje (např. jméno, email)</li>
        <li>Aktivitu uživatele (např. navštívené stránky, kliknutí)</li>
        <li>Technické údaje (např. IP adresa, typ prohlížeče)</li>
    </ol></ul>
    
    

    
</body>
</html>
{% endblock %}
