
{% block content %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Zásady ochrany osobních údajů</title>
</head>
<body>
    <h2>Zásady ochrany osobních údajů</h2>
    <div>
        <ol>
        <li> Úvod</li>
        <p>Vaše soukromí je pro nás důležité a zavazujeme se chránit vaše osobní údaje. Tento dokument popisuje, jak shromažďujeme, používáme a chráníme vaše data.</p></ol>
        
        <ul>2. Shromažďování údajů
            
        <li>Můžeme shromažďovat následující typy informací:</li>
        <li>Kontaktní údaje (např. jméno, email)</li>
        <li>Aktivitu uživatele (např. navštívené stránky, kliknutí)</li>
        <li>Technické údaje (např. IP adresa, typ prohlížeče)</li>
    </ul>
        
        <p>3. Použití údajů
        Vaše údaje používáme k:
        - Poskytování a zlepšování našich služeb
        - Personalizaci uživatelského prostředí
        - Zajištění bezpečnosti naší platformy</p>
        
        <p>4. Ochrana údajů
        Provádíme odpovídající bezpečnostní opatření k ochraně proti neoprávněnému přístupu,
         změně, zveřejnění nebo zničení osobních údajů.</p>
    </div>


    <h2>Shromažďování údajů</h2>
    <ul>
        <li>Kontaktní údaje (např. jméno, email)</li>
        <li>Aktivitu uživatele (např. navštívené stránky, kliknutí)</li>
        <li>Technické údaje (např. IP adresa, typ prohlížeče)</li>
    </ul>
    
    

    
</body>
</html>
{% endblock %}
