{% extends "depo/home.html" %}
{% block content %}
<section>
    <h2 style="text-align: center;">Seznam rezervací</h2>
    <table>
        <thead>
            <tr>
                <th>Název rezervace</th>
                <th>Autobus</th>
                <th>Čas od - do</th>
                <th>Řidič</th>
                
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            
            <tr>
                <td>{{  reservation.name }}..</td>
                <td>{{  reservation.bus.name }}..</td>
                <td>{{  reservation.start_time }} - {{  reservation.end_time }}..</td>
                <td>{{  reservation.driver.name }}.. </td>
                <td>
                    <a href="{% url 'depo:delete_reservation' reservation.id %}" onclick="return confirm('Opravdu chcete tuto rezervaci smazat?');">
                        <button type="button">Smazat</button>
                    </a>
                </td>
            </tr>
        
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
