<h1>Nová rezervace</h1>

<form method="post"  >
    {% csrf_token %}
  
    <!-- Pole pro začátek směny s nápovědou -->
    <label for="start_date">Začátek:</label>
    <input type="text" id="start_date" name="start_date" placeholder="dd.mm.rrrr" required>
    <input type="text" id="start_time" name="start_time" placeholder="hh:mm" required>
    <!-- Pole pro konec směny s nápovědou -->
    <label for="end_date">Konec směny:</label>
    <input type="text" id="end_date" name="end_date" placeholder="dd.mm.rrrr" required>
    <input type="text" id="end_time" name="end_time" placeholder="hh:mm" required>
    <button type="submit">Odeslat</button>
    
</form>
