body {
    font-family: Arial, sans-serif;
}

li {
    padding: 5px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}
/* base.css */
.ready {
    color: black; /* Standardní barva */
}

.needs-weekly-rest-6 {
    color: yellow; /* 6. den */
}

.needs-weekly-rest-7 {
    color: red; /* 7. den a více */
}
